* {
	box-sizing: border-box;
}
body {
   background-color: #000000;
}
::placeholder {
  color: #ffffff;
}
.form1 {
	display: inline-block;
	position: fixed;	
	z-index: 999;	
}
.x5 {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	margin: 20px;
	z-index: 99;
}
.form-button1 {
	display: inline-block;
    color: #70d7e6; 
    background-color: transparent;
    border: none;
    font-family: verdana;
    font-size: 80px;
    vertical-align: middle;
}
.form-button2 {
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	-webkit-border-radius: 20px;
	vertical-align: middle;
	padding: 10px;
	font-size: 20px;
	margin-left: 100px;
	border-color: #70d7e6; 
}
.x4 {
	display: inline-block;
    -webkit-border-radius: 20px;
    background-color: transparent;
    vertical-align: middle;
    border-color: #70d7e6;
    margin-left: 100px;
    font-size: 20px;
    padding: 10px;
    width: 500px;
}
.x3 {
	display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}
.form-button3 {
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	-webkit-border-radius: 20px;
	vertical-align: middle;
	border-color: #70d7e6;
    margin-left: 200px;
    font-size: 20px;
    padding: 10px;
}
.x2 {
	display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
}
.box1 {
	z-index: 2;
	position: relative;
}
.x6 {
	width: 400px;
	height: 600px;
	display: inline-block;
	margin-top: 300px;
	margin-left: 100px;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;
	position: relative;
	position: absolute;	
}
.q1 {
	display: inline-block;
	position: relative;
	margin-top: 350px;
	position: absolute;
	color: #f1f340;
	margin-left: 600px;
	font-size: 60px;
	font-weight: 900;
}
.q2 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #f1f340;
	margin-top: 500px;
	margin-left: 600px;
	font-size: 40px;
	font-weight: 900;
}
.form-button4 {
	background-color: #09f2ea;
	-webkit-border-radius: 20px;
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	margin-top: 560px;
	margin-left: 600px;
	color: #000000;
	padding: 5px;
	font-size: 40px;
	text-decoration: none;
}
.q3 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #09f2ea;	
	margin-top: 560px;
	margin-left: 700px;
	font-size: 40px;
}
.q7 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #f1f340;	
	margin-top: 560px;
	margin-left: 900px;
	font-size: 40px;
	font-weight: 900;
}
.q4 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #f1f340;	
	margin-top: 700px;
	margin-left: 600px;
	font-size: 40px;
	font-weight: 900;
}
.q5 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #f1f340;	
	margin-top: 700px;
	margin-left: 1030px;
	font-size: 40px;
	font-weight: 900;
}
.q6 {
	display: inline-block;
	position: relative;
	margin-top: 100px;
	position: absolute;
	color: #f1f340;	
	margin-top: 700px;
	margin-left: 1380px;
	font-size: 40px;
	font-weight: 900;
}
.x1 {
	display: block;
	width: 100%;
	position: static;
	z-index: 1;
}
.xXx {
	margin-left: 1500px;
	margin-top: 30px;
	display: inline-block;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;	
	background-color: #f1a80a;
	padding: 10px;
	font-size: 20px;
}
.ccc { 
	color: #000000; 
	text-decoration: none;  
}
.h1 {
	display: inline-block;
	font-size: 40px;
	color: #ffffff;
	margin-top: 80px;
	margin-left: 300px;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;
	padding: 10px;
}
.p1 {
	color: #ffffff;
	margin: 50px 300px;
	font-size: 30px;
}
.q8 {
	margin-left: 180px;
	width: 1500px;
	height: 800px;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;	
}
.p2 {
	color: #ffffff;
	margin: 50px 300px;
	font-size: 30px;
}
.q9 {
	margin-left: 180px;
	width: 1500px;
	height: 800px;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;
}
.q12 {
	color: #0ae3f1;
	font-size: 30px;
    text-align: center;
    margin-top: 60px; 
}
.video {
	border: 2px solid #70d7e6;
	display: inline-block;
	-webkit-border-radius: 20px;
	margin-left: 180px;
	margin-top: 30px;
}
.video2 {
	display: inline-block;
	-webkit-border-radius: 20px;
	border: 2px solid #70d7e6;
	margin-left: 50px;
}
.q10 {
	display: inline-block;
	color: #f1670a;
	font-size: 25px;
	line-height: 1.5;
	margin-top: 100px;
	margin-left: 300px;
}
.q11 {
	display: inline-block;
	color: #f1670a;
	font-size: 25px;
	line-height: 1.5;
	margin-top: 100px;
	margin-left: 500px;
	vertical-align: top;
}
.box11 {
	border: 2px solid #70d7e6;
	width: 1650px;
	height: 20px;
	margin-left: 110px;
	margin-top: 100px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.box12 {
	display: inline-block;
	color: #70d7e6;
}
.c7 {	
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 20px;
	vertical-align: middle;
}
.form-button21 {
	display: inline-block;
    color: #70d7e6; 
    background-color: transparent;
    border: none;
    font-family: verdana;
    font-size: 80px;
    vertical-align: middle;
}
.v1 {
    display: inline-block;
    line-height: 2;
    vertical-align: middle;
    margin-left: 100px;
}
.v2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    line-height: 2;
 }
.v3 {
    display: inline-block;
    line-height: 2;
    vertical-align: middle;
    margin-left: 50px;
}
.v4 {
    display: inline-block;
    line-height: 2;
    margin-left: 50px;
}
.v5 {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-left: 160px; 
}
.v6 {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-left: 40px; 
}
.v7 {
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background-color: #fff; 
	margin-left: 40px;
}